/* this is the top-right ribbon configuration */
#ribbon{
	/* positioning */
	position: fixed;
	-top: 50px;
	-right: -50px;
	padding: 5px 45px;
	width: 123px; /* don't ask */
	
	/* looks */
	background-color: #F6C304;
	color: #fff;
	font-size: 13px;
	font-family: sans-serif;
	text-decoration: none; 
	font-weight: bold;
	
	/* rotation */
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transform: rotate(45deg);
	
	/* ribbon effects */
	border: 2px dotted #fff;
	box-shadow: 0 0 0 3px #F6C304, 0 0px 20px -3px rgba(0,0,0,.5);
	text-shadow: 0 0 5px rgba(0,0,0,.5);
}

/* other configurations */
.top-left{
	top: 50px !important;
	left: -50px !important;
	
	-webkit-transform:rotate(315deg) !important;
}
.top-right{
	top: 50px !important;
	right: -50px !important;
	
	-webkit-transform:rotate(45deg) !important;
}
.bottom-left{
	top: auto !important;
	bottom: 50px !important;
	left: -50px !important;
	
	-webkit-transform:rotate(45deg) !important;
}
.bottom-right{
	top: auto !important;
	bottom: 50px !important;
	right: -50px !important;
	
	-webkit-transform:rotate(315deg) !important;
}
