/* this is the top-right ribbon configuration */
.ribbon{
	/* positioning */
	position: fixed;
	-top: 50px;
	-right: -50px;
	padding: 5px 45px;
	width: 128px; /* don't ask */
	
	/* looks */
	background-color: #F6C304;
	color: #fff;
	font-size: 13px;
	font-family: sans-serif;
	text-decoration: none; 
	font-weight: bold;
	
	/* rotation */
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	
	/* ribbon effects */
	border: 2px dotted #fff;
	box-shadow: 0 0 0 3px #F6C304, 0 0px 20px -3px rgba(0,0,0,.5);
	text-shadow: 0 0 white /* antialias color fix */ , 0 0 5px rgba(0,0,0,.5);
	
	/* webkit antialias fix */
	-webkit-backface-visibility: hidden;
	letter-spacing: .5px;
}

/* other configurations */
.top-left{
	top: 50px;
	left: -50px;
	
    -webkit-transform: rotate(315deg);
	   -moz-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	        transform: rotate(315deg);
}
.top-right{
	top: 50px;
	right: -50px;
	
    -webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.bottom-left{
	top: auto !important; /* reset */
	bottom: 50px;
	left: -50px;
	
    -webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.bottom-right{
	top: auto !important; /* reset */
	bottom: 50px;
	right: -50px;
	
    -webkit-transform: rotate(315deg);
	   -moz-transform: rotate(315deg);
	    -ms-transform: rotate(315deg);
	        transform: rotate(315deg);
}
